#登録する年 例)2023
year=2023
#月 例)02
month=02

#アプリクライアントID 例)64文字
client_id="################################################################"
#アプリクライアントシークレット 例)64文字
client_secret="################################################################"
#カンパニーID
company_id=""
#勘定科目
account_item_id=""
#メモタグID
tag_ids=""
#税区分ID
tax_code=""
#品目ID
item_id=""
#口座ID
from_walletable_id=""
#口座タイプ 例)wallet
from_walletable_type="wallet"
